<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <bean id="beanA" class="com.pazz.java.dom.Bean">
        <property name="id" value="1" />
        <property name="val" value="valueA" />
    </bean>
    <bean id="beanB" class="com.pazz.java.dom.Bean">
        <property name="id" value="2" />
        <property name="val" value="valueB" />
    </bean>
    <bean id="BeanC" class="com.pazz.java.dom.Bean">
        <property name="id" value="3" />
        <property name="val" value="valueC" />
    </bean>
</beans>